.card-info::before {
  position: absolute;
  top: 50%;
  left: 0px;
  display: block;
  content: '';
  height: 200%;
  aspect-ratio: 1 / 1;
  transform: translate(-30%, -60%);
  border-radius: 50%;
  background-color: rgb(40, 53, 147);
  opacity: 0.15;
}

.card-info {
  position: relative;
  overflow: hidden;
  padding: 16px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
